* { box-sizing: border-box; }

html, body {
	width: 100%;
	height: 100%;
	font-family: "Source Sans Pro" , Arial, Helvetica, sans-serif;
	color: #1d1c1c;
}

h1 {
	font-family: "Vollkorn", "Roboto", "Source Sans Pro", Arial, Helvetica, serif;
    font-size: 1.4em;
	letter-spacing: 2px;
}

h2, h3, h4 {
	font-family: "Roboto", "Source Sans Pro", Arial, Helvetica, sans-serif;
}

h2 { text-transform: uppercase; }

h2 { letter-spacing: 4px; }

h3 {
	text-decoration: underline;
	color: #bf4b38;
}

* a {
    text-decoration: none;
    cursor: pointer;
    color: #0600ff;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/***** WILL BE USED FOR ALL FLEXBOX CONTAINERS *****/
.flex-rows-container {
    display: -webkit-flex; /* Safari */
    display: -ms-flexbox; /* IE 10 */
	display: flex;
	flex-flow: row wrap;
}

.flex-columns-container {
    display: -webkit-flex; /* Safari */
    display: -ms-flexbox; /* IE 10 */
	display: flex;
	flex-flow: column nowrap;
}
/*****************************************************/

/*
 * NAVIGATION LINKS
*/

/**************** OPEN THE NAVIGATION MENU *****************/
.menu-btn {
	position: absolute;
    top: 0;
    left: 0;
    font-size: 1.8em;
    color: #f0ebeb;
    filter: alpha(opacity=75); /* IE 10 AND EARLIER */
    opacity: .75;
    padding: .4em;
}
/**********************************************************/

/* NAV BAR */
nav {
    box-shadow: 2px 2px 2px #404040;
    background-color: #404040;
    color: #f0ebeb;
}

nav a { color: #f0ebeb; } /* will come back*/

nav ul li:hover { background-color: #5c5c5c; } /* will come back*/

/* HIDE THE NAVIGATION MENU */
.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    margin: 0;
    -webkit-transform: translate(-172px, 0); /* Chrome & Safari */
    -ms-transform: translate(-172px, 0); /* IE */
    -moz-transform: translate(0, 0); /* FIREFOX */
    transform: translate(-172px, 0);
    -webkit-transition: transform .4s; /* Chrome & Safari */
    -ms-transition: transform .4s;  /* IE */
    -moz-transition: transform .4s; /* FIREFOX */
    transition: transform .4s ;
}

/* SHOW THE NAVIGATION ME */
.nav-bar.open {
    -webkit-transform: translate(0, 0); /* Chrome & Safari */
    -ms-transform: translate(0, 0); /* IE */
    -moz-transform: translate(0, 0); /* FIREFOX */
    transform: translate(0, 0);
}


.nav-items {
    margin: 1em 0;
    text-align: left;
}

nav li a {
    display: inline-block;
    width: 170px;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
}

/******************* CLOSE MENU BUTTON ********************/
.nav-items #close { text-align: right; }

.nav-items #close:hover { background-color: inherit; }

.nav-items #close_menu {
    width: auto;
    text-align: right;
    /*margin-bottom: 1em;*/
    padding-left: 1.2em; 
    padding-right: 1.2em;
}

.nav-items #close_menu:hover { background-color: #da1e1e; }
/***********************************************************/

/*
 * HEADER
*/

header { text-align: center; }

/* HERO IMAGE */
.hero-image {
    width: 100%;
    height: 25em;
    background: url(../img/hero-1920x1440.jpg) no-repeat center;
    background-size: cover;
}

.top-title {
	justify-content: center;
	align-items: center;
}

/* PAGE TITLE */
.page-title {
	width: 100%;
	max-width: 960px;
	color: #f0ebeb;
}

.my-name {  }

.my-role {
	font-family: "Fredoka One", "Source Sans Pro" , Arial, Helvetica, sans-serif;
    font-size: .9em;
	letter-spacing: 2px;
}

.recent-nav-btn {
    color: #f0ebeb;
    margin-top: 2em;
    padding: .4rem;
    border: 2px solid #f0ebeb;
    border-radius: 6px;
}

.recent-nav-btn:hover { background-color: rgba(240, 235, 235, 0.2); }

/*
 * MAIN
*/

main { /* container */
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	background-color: #f2f2e4;
}

main > * { /* flex item */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
	flex: 1;
	width: 100%;
	text-align: center;
}

/*
 * ABOUT ME
*/

.about-heading { margin-top: 3.5em; }

.about-container {
	max-width: 960px;
	margin: auto;
	padding: 1.2em 0;
}

.about-me,
.more-container,
.more {
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
	flex: 1;
	margin: 1.4em 0; /* Will be used for SKILLS & PORTFOLIO & RECENT */
	border-radius: 10px;
}

.about-me { width: 100%; }

.avatar, 
.about-me-text {
	margin: 1em 1.4em;
}

.avatar {
    -webkit-flex: 100%; /* Safari */
    -ms-flex: 100%; /* IE 10 */
    flex: 100%;
}

.avatar img {
	min-width: 62.2px;
	max-width: 100%;
	border: 8px solid lightgrey; 
	border-radius: 50%;
}

.about-me .about-me-text p { margin: 0; }

/* HIDDEN UNTIL THE " MORE ABOUT ME " BUTTON CLICKED */
.more-container { display: none; }

.more-container > * { margin: 1em 1.4em; }
/************ END OF MORE CONTAINER ************/

.more { margin: 1em 0; }

.more #more-btn {
	display: inline-block;
	width: 100%;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 3px solid #5454cc;
    border-radius: 6px;
}

.more #more-btn:hover { background-color: rgba(131 ,186 ,234 , .6); }

/*
 * SKILLS
*/

.skills {
	color: white;
	background: url(../img/skills1280x853.jpg) no-repeat center;
	background-size: cover;
}

.skills-header { margin-top: 3.5em; }

.skills-bar {
	max-width: 960px;
	margin: 3em auto;
	padding: 1.3em 2em;
}

.bar {
	margin-top: .5em;
	margin-bottom: .65em;
	text-align: left;
}

.bar:nth-last-child(9) {
	margin-top: 0;
}

.bar span, .bar meter {
	display: inline-block;
}

.bar span {
	font-size: 1.375em;
	text-shadow: 1px 1px 3px #1b13eb;
	margin: auto;
}

.bar meter { width: 100%; }

/*
 * PORTFOLIO
*/

section h3 a { color: #bf4b38; }

.portfolio { width: 100%; }

.portfolio-header { margin-top: 3em; }

.portfolio-container {
	max-width: 960px;
	margin: 3em auto;
}

.portfolio-content {
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
	flex: 1;
	margin: 1em 1.4em;
	border-bottom: 2px solid #e3e3e3;
}

.project-header {
	text-align: left;
	margin-top: 0;
	margin-bottom: .2em;
}

.timeline-date {
	text-align: left;
	margin-top: 0;
	padding: 0;
	color: darkgrey;
}

.project-content {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1em;
	justify-content: center;
}

.project-text { text-align: left; }

.project-text, .project-image-holder {
	margin: .5em;
}

.skill-list {
	list-style-type: circle;
	margin-left: 3em;
}

.project-image-holder { width: 100%; }

.project-image {
	margin-right: 0;
	min-width: 60px;
	max-width: 100%;
}

.project-image:hover { box-shadow: 0 0 10px rgba(0, 0, 0, .7); }

/*
 * RECENT PROJECTS
*/

.recent-heading {
	margin-top: 2.5em;
}

.recent-container {
	margin: 3em auto;
	width: 100%;
	max-width: 960px;
	border-radius: 10px;
	text-align: center;
}

.recent-project {
	margin: 1.2em 1.575em;
	padding: .3em;
}

.recent-project-link { color: #000; }

.recent-project-image {
	min-width: 60px;
	max-width: 100%;
	margin-right: 0;
}

.recent-project-image:hover {
	filter: alpha(opacity=70); /* IE 10 AND EARLIER */
	opacity: .7;
}

/*
 * FOOTER / CONTACT ME
*/

footer {
	width: 100%;
	text-align: center;
	color: #D4D4D4;
	background-color: #242222;
}

footer hr {
	width: 40%;
	color: lightgrey;
}

footer h4 { margin-top: 3em; }

footer ul { margin-bottom: 2.7em; }

footer li a { color: #D4D4D4; }

footer li a:hover {
    filter: alpha(opacity=70); /* IE 10 AND EARLIER */
	opacity: .7;
}

footer li i { padding: .25em .4em;}

.social-media {
	width: 100%;
	max-width: 960px;
	margin: auto;
	text-align: center;
}

.social-container {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.social-item {
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
	flex: 1;
	font-size: 150%;
	margin: .45em;
}
