
/*
 * FOOTER / CONTACT ME
*/

footer {
	width: 100%;
	text-align: center;
	color: #D4D4D4;
	background-color: #242222;
}

footer hr {
	width: 40%;
	color: lightgrey;
}

footer h4 { margin-top: 3em; }

footer ul { margin-bottom: 2.7em; }

footer li a { color: #D4D4D4; }

footer li a:hover {
    filter: alpha(opacity=70); /* IE 10 AND EARLIER */
	opacity: .7;
}

footer li i { padding: .25em .4em;}

.social-media {
	width: 100%;
	max-width: 960px;
	margin: auto;
	text-align: center;
}

.social-container {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.social-item {
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
	flex: 1;
	font-size: 150%;
	margin: .45em;
}
