
/*
 * MAIN
*/

main { /* container */
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	background-color: #f2f2e4;
}

main > * { /* flex item */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
	flex: 1;
	width: 100%;
	text-align: center;
}
