
/*
 * NAVIGATION LINKS
*/

/**************** OPEN THE NAVIGATION MENU *****************/
.menu-btn {
	position: absolute;
    top: 0;
    left: 0;
    font-size: 1.8em;
    color: #f0ebeb;
    filter: alpha(opacity=75); /* IE 10 AND EARLIER */
    opacity: .75;
    padding: .4em;
}
/**********************************************************/

/* NAV BAR */
nav {
    box-shadow: 2px 2px 2px #404040;
    background-color: #404040;
    color: #f0ebeb;
}

nav a { color: #f0ebeb; } /* will come back*/

nav ul li:hover { background-color: #5c5c5c; } /* will come back*/

/* HIDE THE NAVIGATION MENU */
.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    margin: 0;
    -webkit-transform: translate(-172px, 0); /* Chrome & Safari */
    -ms-transform: translate(-172px, 0); /* IE */
    -moz-transform: translate(0, 0); /* FIREFOX */
    transform: translate(-172px, 0);
    -webkit-transition: transform .4s; /* Chrome & Safari */
    -ms-transition: transform .4s;  /* IE */
    -moz-transition: transform .4s; /* FIREFOX */
    transition: transform .4s ;
}

/* SHOW THE NAVIGATION ME */
.nav-bar.open {
    -webkit-transform: translate(0, 0); /* Chrome & Safari */
    -ms-transform: translate(0, 0); /* IE */
    -moz-transform: translate(0, 0); /* FIREFOX */
    transform: translate(0, 0);
}


.nav-items {
    margin: 1em 0;
    text-align: left;
}

nav li a {
    display: inline-block;
    width: 170px;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
}

/******************* CLOSE MENU BUTTON ********************/
.nav-items #close { text-align: right; }

.nav-items #close:hover { background-color: inherit; }

.nav-items #close_menu {
    width: auto;
    text-align: right;
    /*margin-bottom: 1em;*/
    padding-left: 1.2em; 
    padding-right: 1.2em;
}

.nav-items #close_menu:hover { background-color: #da1e1e; }
/***********************************************************/
